.btn-home {
    border: 0px solid white;
    /*border-radius: 3px;*/
    /*width: 100px;
    height: 30px; 
    display: block;*/
  
    background-color:#004b93;
    /*background: linear-gradient(to right, black 50%, white 50%);*/
    background: linear-gradient(to right, white 50%, #004b93 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .3s ease-out;
  }
  
  .btn-home:hover {
    background-position: left bottom;
    color:#004b93;  
  }
  
  .btn-home-text {
    text-align: center;
    border:0px;
    color: white;
    transition: all .2s ease-out;
    display: block;
  }
  
  .btn-home-text:hover {
    color: #004b93;  
  }
  
  
  
  