.btn-home {
    border: 0px solid white;
    border-color: white;
    height: 36px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 2px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  
    background-color:#004b93;
    background: linear-gradient(to right, white 50%, #004b93 50% );
    background-size: 400% 200%;
    background-position: right bottom;
    transition: all .5s ease-out;
  }
  
  .btn-home:hover  {
    background-position: left bottom;
    border: 0px solid white;
  }

  .btn-home:hover .btn-home-text {
    color:#004b93 ;
  }

  .btn-home-text {
    text-align: center;
    border:0px;
    color: white;
    transition: all .4s ease-out;
    display: block;
    margin-right: 16px;
  }
  
  .btn-home-text:hover {
    color: #004b93 !important;  
   
  }


/*Rotando flecha*/
.btn-home .animar-flecha{
    transition: all 0.4s ease;
    margin-right: 2px;
}
.btn-home:hover .animar-flecha {
    /* moviendo a la derecha y rotando la flecha*/
    transform: translate(18px,0px) rotateZ(-180deg);
}
  
/* Second button animation*/

.btn-home2 {
  border: 0px solid wheat;
  border-color: wheat;
  height: 36px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 2px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  background-color:rgb(225, 223, 233);
  transition: all .5s ease-out;
}

.btn-home-text2 {
  color:#004b93 ;
  text-align: center;
  border:0px;
  transition: all .4s ease-out;
  display: block;
  margin-right: 16px;
}

/*Rotando flecha*/
.btn-home2 .animar-flecha2{
  transition: all 0.4s ease;
  margin-right: 2px;
}
.btn-home2:hover .animar-flecha2 {
  /* moviendo a la derecha y rotando la flecha*/
  transform: translate(18px,0px) rotateZ(-180deg);
}


  
  